* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
    background-color: rgb(59, 59, 59);
}

.nav-link {
    color: rgb(214, 214, 214);
    transition: .8s ease all;
}

.nav-link:hover {
    color: rgb(255, 217, 0);
}

.space {
    padding-top: 40px;
    padding-bottom: 40px;
}

#quem-somos {
    background-color: rgb(207, 209, 202);
}

#quem-somos img {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 8px solid white;
}

#parceiros {
    background-color: rgb(66, 66, 66);
    color: #ffffff;
}

#servicos {
    background-color: rgb(236, 230, 136);
}

#servicos img {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

#autor {
    background-color: rgb(255, 166, 0);
    padding-top: 15px;
}